.search-container {
  padding: 20px 10px;
}

.search-container h4 {
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

.search-container input {
  margin-bottom: 20px;
  padding-left: 10px;
  color: #bfbfbf;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  display: block;
}

.search-container button {
  color: #fff;
  margin-bottom: 10px;
}

.info-container h4 {
  color: #1890ff;
  font-size: 20px;
  margin-bottom: 10px;
}

.info-container p {
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 5px;
}

@media (min-width: 576px) {
  .page-container {
    margin: 40px;
  }
  .search-container {
    padding: 30px 20px;
  }
}

@media (min-width: 992px) {
  .page-container{
    max-width: 1200px;
    margin: 40px auto;
  }
}

